.main{
    height: 100vh;
    width: 100%;
}

.menu{
    height: 10vh;
    z-index: 10;
}


.container-fluid, .row, .row div{
    margin: 0;
    padding: 0;
    height: 100%;
}

.fieldbar{
    z-index: 8;
    background-color: #e6e6e6;
}


.main-space{
    height: 90vh !important;
}
// .fieldbar:hover + .sidebar{
//     display: block;
//     animation: 1s open ease;
// }

// .sidebar{
//     display: none;
// }

// .sidebar:hover{
//     display: block;
// }

// @keyframes open{
//     from{
//         opacity: 0;
//     }
//     to{
//         opacity: 1;
//     }
// }
