<div class="bar">
  <span class="material-icons" routerLink="/profile">
    account_box
  </span>
  <span class="material-icons" routerLink="/chat">
    chat
  </span>
  <span class="material-icons" routerLink="/videos">
    live_tv
  </span>
  <span class="material-icons" routerLink="/classes">
    book_online
  </span>
  <span class="material-icons" routerLink="/library">
    library_books
  </span>
  <span class="material-icons" routerLink="/tests">
    assignment_turned_in
  </span>
  <span class="material-icons" routerLink="/games">
    games
  </span>
  <span class="material-icons" routerLink="/settings">
    settings
  </span>
</div>
