.bar{
    background-color: #e6e6e6;
    height: 100%;
    width: 100%;
}

.bar span{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 3.25rem;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
    transition: 1s;
}

.bar span:hover{
    background-color: black;
    color: white;
}

.bar span:active{
    border: 0 !important;
    box-shadow: 0;
}