<div  class="schedule-class"   id="schedule class">
    <div >
      <form >
        <h4>schedule Class</h4>
          
            <div class="form-group col-md-4 ">
              <label for="inputRoomName">Title</label>
              <input type="text" class="form-control" id="inputRoomName" placeholder="Id" [(ngModel)] = "scheduleClass.Title" name="Title">
            </div>
            <div class="form-group col-md-4 form-input-material">
              <label for="inputDisplayName">Host Name</label>
              <input type="text" class="form-control" id="inputDisplayName" placeholder="Name" [(ngModel)] = "scheduleClass.HostName" name="HostName">
            </div>
          
          <div class="form-group col-md-8 ">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" [(ngModel)] = "scheduleClass.email" name="email">
            </div>
            
           
          <button type="submit" class="btn btn-success mb-2"  >schedule</button>
        </form>
      </div>
    </div>
  

